/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(130, 230, 255);
    display: flex;
    justify-content: center;
}

.game-container{
    width:60vw;
    border: 1px solid red;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width:80%;
    height: 50%;
}

.card{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    filter: brightness(0);
    transform: rotateX(180deg);
}


.card:hover {
    transform : scale(1.01);
    border: 1px solid black;
}

.hidden{

}

.shown{
animation: show-card 1s linear forwards;
}

.out{
    opacity: .5;
}

.out:hover {
    transform: scale(1);
    border: none;
}

@keyframes show-card {
    50% {
        transform: rotateY(160deg);
    }

    100% {
        filter: brightness(1);
        transform: rotateY(180deg);

    }
}

